@function px2rem($px) {
  $rem: 37.5px;
  @return ($px / $rem) + rem;
}
body{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing:border-box;
  overflow-y:scroll;
}
.top_box{
  background-image: url("img/top.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: px2rem(457px);
}
.act_wrap{
  background-image: url("img/bg1.png");
  position: absolute;
  width: 100%;
  top: px2rem(455px);
  .act_nav{
    margin: px2rem(-175px) px2rem(35px) px2rem(45px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button{
      background-repeat: no-repeat !important;
      background-size: 100% 100% !important;
      width: px2rem(130px);
      height: px2rem(58px);
    }
  }
  .rule_img{
    text-align: center;
    background-image: url("img/rule.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: px2rem(457px);
    margin: 0 px2rem(20px);
    position: relative;
    .info_btn{
      //background-color: red;
      width: px2rem(73px);
      height: px2rem(14px);
      position: absolute;
      bottom: px2rem(45px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
//排行榜信息模块
.rank_wrap{
  margin: px2rem(50px) 0 px2rem(26px);
  color: #FFFFFF;
  position: relative;
  z-index: 9;
  padding-bottom: 40%;
  .rank_con{
    background: #FFFFFF;
    border-radius: px2rem(20px);
    padding: px2rem(30px) 0 px2rem(42px);
    z-index: 22;
    margin: 0 px2rem(20px);
    .rank_nav{
      background-image: url("img/rank.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin: 0 px2rem(55px);
      //width: px2rem(225px);
      height: px2rem(45px);
      border-radius: px2rem(23px);
      position: relative;
      button{
        height: px2rem(44px);
        background-size: 100% 100% !important;
        text-align: center;
        width: 43%;
        font-size: px2rem(18px);
        font-weight: normal;
        color: #FFFFFF;
      }
      .rank_active2{
        background-image: url("img/rank1.png");
        height: px2rem(45px);
        font-size: 0;
        width: px2rem(123px);
        margin-left: px2rem(-1px);
      }
      .rank_active1{
        background-image: url("img/rank2.png");
        height: px2rem(45px);
        font-size: 0;
        width: px2rem(123px);
        position: absolute;
        right: px2rem(-1px);
      }
    }
    .rank_item{
      padding: 0 px2rem(20px);
      .rank_box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: px2rem(20px) 0;
        border-bottom: px2rem(1px) solid #EEEEEE;
        .rank_left{
          display: flex;
          align-items: center;
          flex-direction: row;
          width: 75%;
          .rank_ranking{
            font-size: px2rem(14px);
            color: #D8D8D8;
          }
          .rank_img{
            margin: 0 px2rem(12px) 0 px2rem(13px);
            img{
              height: px2rem(45px);
              width: px2rem(45px);
              border-radius: 50%;
            }
          }
          .rank_info{
            width: 65%;
            .rank_name{
              font-weight: 500;
              color: #333333;
              font-size: px2rem(14px);
              display: flex;
              flex-direction: row;
              align-items: center;
              .level_img{
                height: px2rem(16px);
                width: px2rem(34px);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                font-size: px2rem(10px);
                margin-left: px2rem(5px);
                line-height: px2rem(16px);
                color: #FFFFFF;
                .level_num{
                  margin-left: 45%;
                  width: 55%;
                  text-align: center;
                }
              }
            }
            .rank_num{
              margin-top: px2rem(7px);
              font-size: px2rem(12px);
              font-weight: 400;
              color: #999999;
              span{
                color: #FF2D59;
              }
            }
          }
        }
        .rank_btn{
          line-height: px2rem(25px);
          width: px2rem(48px);
          height: px2rem(25px);
          background: #FFA600;
          border-radius: px2rem(13px);
          font-size: px2rem(12px);
          font-weight: 500;
          color: #FFFFFF;
        }
      }

    }
    .rank_item:nth-child(2){
      .rank_box{
        .rank_left {
          .rank_ranking {
            color: #FCB51F;
          }
        }
      }

    }
    .rank_item:nth-child(3){
      .rank_box{
        .rank_left {
          .rank_ranking {
            color: #999999;
          }
        }
      }

    }
    .rank_item:nth-child(4){
      .rank_box{
        .rank_left {
          .rank_ranking {
            color: #D6937D;
          }
        }
      }

    }
  }
  .bg2{
    margin-top: px2rem(-173px);
    background-image: url(img/bg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: px2rem(324px);
    z-index: -1;
    position: absolute;
    bottom: px2rem(-26px);
    width: 100%;
  }
}

.pan_box{
  .round {
    text-align: center;
    position: relative;
    margin: 0 px2rem(20px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    #turnImg {
      height: px2rem(344px);
      width: px2rem(343px);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .begin {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      img {
        height: px2rem(110px);
      }
    }
  }
  .popup-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    .popups {
      position: relative;
      width: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .popup-img {
        width: 100%;
        height: 100%;
        border-radius: px2rem(5px);
      }
      .define {
        position: absolute;
        left: 0;
        bottom: 5%;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
      }
      .zhongjianp {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 20%;
        color: #fff;
        font-size: 1rem;
      }
    }

  }
  .get_award{
    margin-top: px2rem(41px);
    text-align: center;
    position: relative;
    height: px2rem(68px);
    .get_award_btn{
      background-image: url("img/get_btn0.png");
      height: px2rem(68px);
      width: px2rem(150px);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: #FFFFFF;
      font-weight: 500;
      .get_start{
        font-size: px2rem(16px);
        margin-top: px2rem(13px);
      }
      .get_num{
        font-size: px2rem(12px);
        margin-top: px2rem(7px);
      }
    }
    #get_award_btn{
      background-image: url("img/get_btn.png");
    }
  }
}
.task_wrap{
  background-color: #ffffff;
  margin: px2rem(45px) px2rem(20px) px2rem(90px);
  border-radius: px2rem(20px);
  padding-bottom: px2rem(30px);
  position: relative;
  .record-btn{
    font-size: px2rem(13px);
    font-weight: 400;
    color: #999999;
    position: absolute;
    right: px2rem(18px);
    top: px2rem(20px);
  }
  .task_tit{
    margin-bottom: px2rem(15px);
    text-align: center;
    img{
      height: px2rem(40px);
    }
  }
  .task_item{
    padding: 0 px2rem(20px);
    .task_box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      padding: px2rem(20px) 0;
      font-weight: 500;
      color: #FFFFFF;
      .task_left{
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 75%;
        .task_ranking{
          background-image: url(img/count.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          height: px2rem(35px);
          width: px2rem(35px);
          font-size: px2rem(15px);
          line-height: px2rem(35px);
          text-align: center;
          margin-right: px2rem(15px);
        }
        .task_info{
          width: 70%;
          .task_name{
            color: #333333;
            font-size: px2rem(14px);
          }
          .task_num{
            margin-top: px2rem(9px);
            font-size: px2rem(12px);
            color: #999999;
          }
        }
      }
      .task_btn{
        line-height: px2rem(25px);
        width: px2rem(48px);
        height: px2rem(25px);
        border-radius: px2rem(13px);
        font-size: px2rem(12px);
        font-weight: 500;
        color: #FFFFFF;
        background: #D8D8D8;
      }
      .task_btn1{
        background: #FFA500;
      }
    }

  }

}
.bg3{
  margin-top: px2rem(-173px);
  background-image: url(img/bg2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: px2rem(324px);
  z-index: -1;
  position: absolute;
  bottom: px2rem(-26px);
  width: 100%;
}
//我的信息模块置于底部
.my_box{
  z-index: 999;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: px2rem(15px) 0;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #FFFFFF;
  .my_left{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 66%;
    margin-left: px2rem(15px);
    .my_img{
      margin-right: px2rem(12px);
      img{
        width: px2rem(45px);
        height: px2rem(45px);
        background: #C1B89A;
        border-radius: 50%;
      }
    }
    .my_info{
      .my_name{
        font-size: px2rem(14px);
      }
      .my_num{
        font-size: px2rem(12px);
        font-weight: 400;
        margin-top: px2rem(7px);
        .my_value{
          color: #FF2D59;
        }
      }
    }
  }
  .my_ranking{
    font-size: px2rem(12px);
    margin-right: px2rem(15px);
  }
}
#record_box,#award_info {
  width: 100%;
  height: 100%;
  position:fixed;
  left:0;
  top:0;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#record_box{
  //display: flex;
  .record-con{
    width: px2rem(280px);
    border: px2rem(4px) solid #00D8FF;
    border-radius: px2rem(15px);
    background-color: #07368B;
    display: flex;
    flex-direction: column;
    padding: px2rem(40px) px2rem(10px);
    position: relative;
    color: #FFFFFF;
    .record-tit{
      position: absolute;
      top: px2rem(-4px);
      left: 50%;
      transform: translateX(-50%);
      img{
        height: px2rem(40px);
      }
    }
    .record-list{
      overflow-y: scroll;
      max-height: px2rem(312px);
      .record-list-item{
        margin-top: px2rem(30px);
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0 px2rem(17px);
        align-items: center;
        font-weight: 500;
        .record-left{
          font-size: px2rem(14px);
          width: 65%;
          .award_tit{

          }
          .award_time{
            font-size: px2rem(12px);
            font-weight: 400;
            margin-top: px2rem(12px);
          }
        }
        .award_num{
          font-size: px2rem(12px);
          color: #FF3CAA;
        }
        .award_num2{
          color: #20FF9E;
        }
      }
    }
    .no_data{
      text-align: center;
      height: px2rem(40px);
      line-height: px2rem(60px);
    }
  }
  .close-btn{
    margin-top: px2rem(30px);
    img{
      height: px2rem(45px);
    }
  }
}
#award_info{
  //display: flex;
  .info-con{
    width: px2rem(280px);
    border: px2rem(4px) solid #00D8FF;
    border-radius: px2rem(15px);
    background-color: #07368B;
    position: relative;
    padding: px2rem(20px) 0;
    .info-tit{
      position: absolute;
      top: px2rem(-4px);
      text-align: center;
      width: 100%;
      img{
        height: px2rem(40px);
      }
    }
    .info_con{
      height: px2rem(400px);
      overflow-y: scroll;
      margin-top: px2rem(30px);
      text-align: center;
      img{
        height: px2rem(601px);
      }
    }
  }
  .close-btn{
    margin-top: px2rem(30px);
    img{
      height: px2rem(45px);
    }
  }
}
#tips{
  position: fixed;
  top: 50%;
  left: 50%;
  //display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  max-width: 70%;
  padding: px2rem(12px) px2rem(15px);
  color: #fff;
  font-size: px2rem(14px);
  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: px2rem(8px);
  transform: translate3d(-50%, -50%, 0);
  display: none;
  z-index: 999999;
}
#shade_box{
  width: 100%;
  height: 100%;
  position:fixed;
  //display: flex;
  left:0;
  top:0;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999;
  display: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  .shade-con{
    box-sizing:border-box;
    width: px2rem(280px);
    border: px2rem(4px) solid #00D8FF;
    background-color: #07368B;
    display: flex;
    flex-direction: column;
    border-radius: px2rem(15px);
    justify-content: center;
    align-items: center;
    padding: px2rem(26px) px2rem(10px);
    position: relative;
    .shade-tit{
      text-align: center;
      position: absolute;
      top: px2rem(-4px);
      img{
        height: px2rem(40px);
      }
    }
    .img-wrap{
      .img_url{
        height: px2rem(85px);
        line-height: px2rem(85px);
        width: px2rem(85px);
        margin:px2rem(59px) auto px2rem(18px);
        border-radius: px2rem(10px);
        background: #00E3FF;
        img{
          width: px2rem(65px);
          height: auto;
        }
      }

      .award-name{
        font-size: px2rem(14px);
        font-weight: 500;
        color: #FFFFFF;
      }
    }
    .get-btn{
      background-image: url("img/get.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: px2rem(49px);
      margin-top: px2rem(45px);
      width: px2rem(210px);
    }
    .tips{
      margin-top: px2rem(16px);
      text-align: center;
      font-size: px2rem(12px);
      font-weight: 500;
      color: #FFFFFF;
      opacity: 0.3;
    }
  }
}
